@font-face {
    font-family: 'MuliReg' ;
    src: url("../assets/fonts/Muli-Regular.woff");
}

@font-face {
    font-family: 'MuliExtraBold' ;
    src: url("../assets/fonts/Muli-ExtraBold.woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'MuliReg';
}

ul {
    list-style-type: none;
}
a {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}


/*  HEADER  */

.header {
    background: url("../assets/images/header-bg-img.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
}

.header ul {
    list-style-type: none;
}

.header__top {
    padding: 70px 100px 100px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAV */
.nav {
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid red;
} 

.nav__link {
    color: white;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}

.nav__list {
    display: flex;
    column-gap: 35px;
}

/* LOGO */
.logo {
    border: 1px solid red;
}

.logo__img {
    width: 207px;
}

/*   HEADER__RIGHT-BLOCK  */
.header__right-block {
    display: flex;
    align-items: center;
    column-gap: 150px;
}

/* personal */
.personal {
    border: 1px solid red;
}
.personal__cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    min-width: 18px;
    max-width: 18px;
    background-color: white;
    color: black;
    font-size: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; 
}

.personal__list {
    display: flex;
    column-gap: 45px;
}
.personal__list-item:last-child {
    display: flex;
}

/* social*/
.social {
    border: 1px solid red;
}

.social__list {
    display: flex;
    column-gap: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}





/*  HEADER__CONTENT  */
.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

/*   btn    */
.header__btn {
    height: 70px;
    width: 280px;
    background-color: #0aa566;
    font-size: 24px;
    border-radius: 35px;
}

.btn {
    font-family: 'MuliExtraBold';
    padding: 0 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.btn--green-bg {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}
.btn__arrow-yellow {
    width: 30px;
}

/* SMOOTHIES  */

.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'MuliExtraBold';
    border: 1px solid red;
    padding: 98px 0 55px;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;
    color: #f7ae3b;
}

.smoothies__desc {
    width: 915px;
    border: 1px solid red;
    margin: 0 0 61px;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: center;
    color: #1e1e1e;
}

.smoothies__greed {
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    width: 1010px;
    margin: 0 0 107px;
}

.smoothies__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 249px;
    height: 193px;
}

.smoothies__icon {
    height:77px;
    border: 1px solid red;
}
.smoothies__name {
    margin: 21px 0 0;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #f2612d;
}

/* ABOUT */
.about {
    background-color: #14826f;
    display: flex;
    justify-content: center;
    color: white;
}

.about__inner {
    margin: 97px 0;
    display: flex;
}

.about__image {
    width: 691px;
    height: 818px;
}

.about__title {
    font-family: 'MuliExtraBold';
    font-size: 55px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: -1.1px;
    text-align: left;
    color: #ffffff;
    margin: 0 0 57px;
}
.about__list {
    margin: 0 0 50px;

}
.about__item {
    /* list-style-image: url('../assets/images/about-li.png');*/
    list-style-position: inside;
    font-family: 'MuliReg';
    font-size: 21px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    left: 22px;
}

.about__item:before {
    content: '';
    background-image: url('../assets/images/about-li.png');
    position: absolute;
    width: 16px; height: 16px;
    background-size: 16px 16px;
    left: -22px; top: 1px;
}

.about__btn {
    width: 380px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #f8b231;
    background-color: #14826f;
}

/*   PRODUCTS     */
.products {
    display: flex;
    color: white;
}

.products__box {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 129px 0 79px;
    border: 1px solid white; 
}

.products__box:nth-child(1) {
    background-color: #632b17;
}
.products__box:nth-child(2) {
    background-color: #178670;
}
.products__box:nth-child(3) {
    background-color: #f7ae3b;
}
.products__box:nth-child(4) {
    background-color: #c3471b;
}

.products__img {
    width: 119px;
    height: 303px;
    margin-bottom: 34px;
    border: 1px solid white;
}

.products__title {
    margin-bottom: 15px;
    font-family: 'MuliExtraBold';
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    border: 1px solid white;
}

.products__desc {
    margin-bottom: 65px;
    border: 1px solid white;
}

.products__btn {
    width: 204px;
    height: 60px;
    font-size: 21px;
    border-radius: 30px;
    border: solid 2px #ffffff;
}

/*    STORY      */

.story {
    display: flex;
    justify-content: center;
}

.story__wrapper {
    display: flex;
    justify-content: center;
    padding: 70px 0 70px;
    border: 1px solid red;
}
.story__content {
    width: 437px;
}
.story__title {
    text-align: left;
}
.story__text {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 55px;
}
.story__btn {
    height: 60px;
    width: 301px;
    background-color: #0aa566;
    font-size: 24px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.story__image {
    width: 585px;
    height: 601px;
    border: 1px solid red;
}

/*   TESTIMONIALS     */

.testimonials {
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.title--orange-up {
    text-transform: uppercase;
    color: #f2612d;
}
.testimonials__content {
    display: flex;
    margin-bottom: 100px;
    border: 1px solid red;
}

.testimonials__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
}

.testimonials__img {
    width: 220px;
    height: 218px;
}

.testimonials__quote {
    width: 455px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: 1px solid red;
}

.testimonials__address {
    font-weight: 600;
    font-style: italic;
    line-height: 2.5;
    color: #f7ae3b;
    text-align: center;
    border: 1px solid red;
}

.testimonials__footer {
    display: flex;
    justify-content: space-between;
    column-gap: 90px;
    margin-bottom: 80px;
    border: 1px solid red;
}

.testimonials__footer-btn {
    width: 30px;
    height: 16px;
    border: 1px solid red;
}
/*     BLOG       */

.blog {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.blog__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    border: 1px solid red;
}

.blog__content {
    display: flex;
    border: 1px solid red;
}

.blog__image {
    width: 555px;
    height: 400px;
}

.blog__article {
    margin-left: 43px;
    border: 1px solid red;
}

.blog__article-title {
    font-family: 'MuliExtraBold';
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.6px;
    text-align: left;
    color: #f2612d;
}

.blog__article-time {
    font-family: 'MuliReg';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.blog__article-excerpt {
    width: 472px;
    margin: 40px 0 0 60px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    border: 1px solid red;
}

.blog__article-arr {
    width: 18px;
    height: 10px;
}

.blog__article-link {
    font-family: 'MuliExtraBold';
    color: black;
}

/*      INSTAGRAM     */

.instagram__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.instagram__top-link {
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.instagram__top-icon {
    display: flex;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    border: 1px solid red;
}

.instagram__top-title {
    display: flex;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.48px;
    text-align: left;
    color: #0aa566;
    border: 1px solid red;
}

.instagram__content {
    margin-bottom: 10px;
}
.instagram__list {
    display: flex;
    justify-content: center;
}

.instagram__list-item {
    display: flex;
    flex-basis: 20%;
    flex-shrink: 1;
}

.instagram__list-photo {
    width:100%;
    
}

/*      FOOOTER   */
.footer__content {
    background-color: #f6ab3b;
}

.footer__content-inner {
    height: 372px;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
}

.footer__bottom {
    padding: 25px 164px 21px 869px;
    background-color: #6c2c1c;

}

.footer__logo {
    display: flex;
    align-items: center;
    width: 600px;
}
.information {
    border: 1px solid red;
    width: 300px;
}

.payment {
    border: 1px solid red;
    width: 400px;
}

.subscribe {
    border: 1px solid red;
    width: 600px;
}
.footer__title {
    font-family: 'MuliExtraBold';
    font-size: 26px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: -0.52px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 20px;
}

.footer__information {
    font-family: 'MuliExtraBold';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: -0.36px;
    text-align: left;
}
.information__menu-link {
    color: #6d450c;
}

.payment__icon1 {
    width: 46px;
    height: 30px;
}
.payment__icon2 {
    width: 36px;
    height: 36px;
}
.payment__icon3 {
    width: 48px;
    height: 29px;
}
.payment__icon4 {
    width: 54px;
    height: 26px;
}
.payment__icon5 {
    width: 34px;
    height: 26px;
}
.payment__icon6 {
    width: 42px;
    height: 28px;
}
.payment__icon7 {
    width: 50px;
    height: 14px;
}
.payment__icon8 {
    width: 142px;
    height: 36px;
}
.payment__icon9 {
    width: 48px;
    height: 15px;
}

.subscribe__input {
    width: 495px;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    font-family: 'MuliExtraBold';
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.06;
    letter-spacing: -0.34px;
    text-align: left;
    color: #6d450c;
    border-width: 0px;
    background-image: url('../assets/images/ft-inp-ic.png');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;

}


.subscribe__socials-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 27px;
}
.subscribe__link {
    padding-right: 42px;
    text-transform: uppercase;
    font-family: 'MuliExtraBold';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: -0.36px;
    color: #6d450c;
}
.subscribe__social-list {
    display: flex; 
    column-gap:24px;
    padding-right:52px;
}

.subscribe__icon {
    height: 24px;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 0;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.26px;
    color: #af8a82;
}