.information {
    &__menu {
        padding-left: 3px;
        font-family: 'MuliExtraBold';
        font-size: 18px;
        letter-spacing: -0.36px;
        line-height: 1.94;

        &-link {
            color: #6d450c;
        }
    }

}