.information__menu {
    padding-left: 3px;
    font-family: 'MuliExtraBold';
    font-size: 18px;
    letter-spacing: -0.36px;
    line-height: 1.94;
}
.information__menu-link {
    color: #6d450c;
}
