

@media screen and (max-width: 1450px) {
    .products {
        overflow: scroll;

        &__box {
            min-width: 480px;
        }
    }

    .testimonials {
        &::before {
            display: none;
        }
    }
}


@media screen and (max-width: 1285px) {
    .about {
        padding: 57px 0 100px;

        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__image-wrapper {
            padding: 0 0 67px;
        }

        &__image {
            top: 0;
            left: 0;
        }

        &__content {
            padding-left: 0;
        }
        .about__title {
            margin-bottom: 51px;
        }

        &__button {
            margin: 0px 0px 0px 0px;
        }
    }
    .products {
        &--mt {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 1250px) {
    .header {
        &__navigation {
            position: fixed;
            background-color: #0aa566;
            z-index: 999;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            flex-direction: column-reverse;
            padding-top: 100px;
            justify-content: flex-end;
            transition: all 0.5s ease-in-out;

            &--active {
                right: 0;
            }
        }

        .menu {
            &__list {
                flex-direction: column;
                text-align: center;
                gap: 40px;
            }

            &__link {
                &::after {
                    background-color: $accentColor;
                }
            }
        }

        &__burger {
            display: block;
            position: fixed;
            width: 30px;
            height: 20px;
            top: 30px;
            right: 40px;
            z-index: 10000;
            transition: all 0.3s ease 0s;

            & span {
                position: absolute;
                background-color: #fff;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition: all 0.3s ease 0s;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.521);
                transform: scale(1);
            }
    
            &:before,
            &:after {
                content: '';
                position: absolute;
                background-color: #fff;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.521);
            }
    
            &:before {
                top: 0;
            }
    
            &:after {
                bottom: 0;
            }

            &--active:before {
                transform: rotate(45deg);
                top: 9px;
            }

            &--active:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }

            &--active span{
                transform: scale(0);
            }
        }

        &__right-block {
            margin-bottom: 130px;
        }
    }
    
    .blog {
        &__content {
            flex-direction: column;
        }

        &__article::before {
            display: none;
        }

        &__article {
            padding: 20px 0 0;
        }

        &__image-wrapper {
            max-width: 708px;
        }
    }

    .footer {
        &__content {
            &-inner {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &__logo {
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
        }

        &__information {
            flex: 0 0 40%;
        }

        &__payment {
            flex: 0 0 40%;
            margin-bottom: 90px;
        }

        &__subscribe {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1210px) {
    .story {
        padding: 77px 0 79px;

        &__inner {
            flex-wrap: wrap;
        }
        &__title {
            margin: 0 0 37px; 
        }

        &__text {
            padding-bottom: 48px;
        }

        &__button {
            margin-bottom: 79px;
        }

        &__image-wrapper {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 1100px) {
    .smoothies {
        &__wrapper {
            max-width: 540px;
        }

        &__box {
            width: 50%;
            height: 195px;
    
            &:nth-child(2), &:nth-child(6) {
                border-right: 0;
            }
    
            &:nth-child(5), &:nth-child(6) {
                border-bottom: 2px solid #f6edde;
            }
        }
    }

    .testimonials {
        &__inner::after {
            left: -20px;
        }
    }
}

@media screen and (max-width: 870px) {
    .testimonials {
        &__inner {
            align-items: center;

            &::after {
                font-size: 11.25rem;
                left: 20px;
                top: 450px;
                width: 687px;
            }
        }
        &__content {
            flex-direction: column-reverse;
        }
        &__img {
            margin: 0 auto;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .header {
        &__logo {
            top: 8px;
        }
    }
    .main-screen {
        &__body {
            padding: 275px 0px 0px 0px;
        }
    }
    .smoothies {
        padding: 39px 0px 105px 0px;
        
        &__title {
            text-align: center;
            margin-bottom: 19px;
        }

        &__desc {
            max-width: 715px;
            margin-bottom: 39px;
        }
    }

    .about {
        &__column:last-child {
            align-self: flex-start;
        }
    }
    .story {
        &__image-wrapper::after {
            display: none;
        }
    }

    .testimonials {
        &__inner {
            &::after {
                display: none;
            }
        }
    }
    

    .instagram {
        &__content {
            overflow-x: scroll;
        }

        &__link {
            min-width: 384px;
            height: 384px;
        }
    }

    .footer {
        & .goTop {
            bottom: 40px;
            right: 30px;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
}

@media screen and (max-width: 615px) {
    .smoothies {
        &__name {
            font-size: 1.25rem;
        }
    }

    .about {
        padding: 57px 0 77px;
        
        &__title {
            font-size: 2.75rem;
            line-height: 114%;
        }
        &__image-wrapper {
            padding: 0 0 36px;
        }
        &__title {
            margin-bottom: 53px;
        }
        &__title--light-green::after {
            width: 305px;
            background-size: contain;
            background-repeat: no-repeat;
            left: 0;
            bottom: -4px;
        }
        &__button {
            font-size: 1.125rem;
        }
    }

    .products {
        &__box {
            min-width: 300px;
            padding: 71px 10px 85px;
        }
        &__img {
            width: 100px;
            margin: 0 8px 29px 0;
        }
        &__name {
            font-size: 1.35rem;
        }
    }
    .story {
        padding: 52px 0 91px;

        &__title {
            font-size: 2.75rem;
            margin: 0 0 41px;
        }
        &__content {
            margin-right: 0;
        }
        &__text {
            padding-bottom: 40px;
        }
        &__button {
            margin: 0 auto 50px;
        }
    }

    .blog {
        &__article-excerpt {
            padding-left: 0;
            max-width: 340px;
        }
    }

    .footer {
        &__information {
            flex: 0 0 100%;
            margin-bottom: 70px;
        }

        &__payment {
            flex: 0 0 100%;
            margin-bottom: 70px;
        }
    }
}

@media screen and (max-width: 490px) {
    .header {
        &__right-block {
            margin-bottom: 50px;
            align-items: center;
            flex-direction: column;
        }
    }

    .personal {
        &__list {
            margin-right: 0;
            margin-bottom: 40px;
        }

        &__list::after {
            display: none;
        }
    }
    
    .form {
        &__footer {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 360px) {
    .header {
        &__burger {
            right: 30px;
        }
    }
    
    .smoothies {
        padding-bottom: 65px;
        &__title {
            margin-bottom: 26px;
            font-size: 2.5rem;
            text-align: center;
            line-height: 127%;
        }

        &__desc {
            margin-bottom: 54px;
        }
    }

    .instagram {
        &__link {
            min-width: 270px;
            height: 270px;
        }
    }

    .footer {
        & .goTop {
            right: 10px;

            &::after {
                display: none;
            }
        }
    }
}
