@import './abstracts/vars';
@import './abstracts/mixins';
@import './base/normalize';
@import './base/fonts';



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'MuliRegular', sans-serif;
    font-size: 100%;
    min-width: 320px;
}

.container {
    max-width: 1784px;
    margin: 0 auto;
    padding: 0 32px;
}

ul {
    list-style-type: none;
    margin: 0px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
}

input[type="text"]::-webkit-input-placeholder {
    color: #6d450c;
} 

input[type="text"]::-moz-placeholder {
    color: #6d450c;
}

@import './layout/header';
@import './components/menu';
@import './components/personal';
@import './components/social';
@import './components/button';
@import './components/title';
@import './components/form';
@import './layout/smoothies';
@import './layout/about';
@import './layout/products';
@import './layout/story';
@import './layout/testimonials';
@import './layout/blog';
@import './layout/instagram';
@import './layout/footer';

@import './media';