@import './abstracts/vars';
@import './abstracts/mixins';
@import './base/normalize';
@import './base/fonts';

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;}
body{-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'MuliRegular', sans-serif;
    font-size: 100%;
    min-width: 360px;
}

.wrapper {
    position: relative;
}
.container {
    max-width: 1784px;
    margin: 0 auto;
    padding: 0 32px;
}

ul {
    list-style-type: none;
    margin: 0px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
}

input[type="text"]::-webkit-input-placeholder {
    color: #6d450c;
} 

input[type="text"]::-moz-placeholder {
    color: #6d450c;
}

@import './layout/header';
@import './layout/main-screen';
@import './components/menu';
@import './components/personal';
@import './components/social';
@import './components/button';
@import './components/title';
@import './components/form';
@import './layout/smoothies';
@import './layout/about';
@import './layout/products';
@import './layout/story';
@import './layout/testimonials';
@import './layout/blog';
@import './layout/instagram';
@import './layout/footer';

@import './media';