/*  fonts   */
@font-face {
    font-family: 'MuliRegular' ;
    src: url("./../fonts/Muli-Regular.woff");
}
@font-face {
    font-family: 'MuliExtraBold' ;
    src: url("./../fonts/Muli-ExtraBold.woff");
}
@font-face {
    font-family: 'MuliBold' ;
    src: url("./../fonts/Muli-Bold.ttf");
}
@font-face {
    font-family: 'MuliSemiBoldItalic' ;
    src: url("./../fonts/Muli-Semi-BoldItalic.ttf");
}

@font-face {
    font-family: 'MyriadproRegular' ;
    src: url("./../fonts/Myriadpro-Regular.ttf");
}