/*   -------------   btn   -------------   */
.button {
    font-family: 'MuliExtraBold';
    color: white;
    font-size: 1.31rem;
    height: 60px;
    border-radius: 30px;
    @include flex(space-between, center);

    &--green-bg {
        background-color: $primaryColor;

        &:hover {
            background-color: #098d58;
        }

        &::after  {
            content: "";
            display: block;
            background-image: url('./../images/arrow-png.png');
            background-size: 30px 16px;
            width: 30px;
            height: 16px;
        }
    }

    &--no-bg {

        &::after {
            content: "";
            display: block;
            background-image: url('./../images/arr-white.png');
            background-size: 30px 16px;
            width: 30px;
            height: 16px;
        }
    }
}








