/*   -------------   btn   -------------   */
.button {
    font-family: 'MuliExtraBold';
    text-transform: capitalize;
    color: white;
    font-size: 1.42rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
    &::after  {
        content: "";
        display: block;
        position: relative;
        background-image: url('./../images/components/arrow/arrow-yellow.png');
        background-size: 30px 16px;
        width: 30px;
        height: 16px; 
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.082);

        &::after {
            transform: translateX(10px);
            transition: transform ease-out .65s;
        }
    }

    &--green-bg {
        background-color: $primaryColor;
        &:hover {
            background-color: #16b676;
        }     
    }

    &--no-bg {
        &::after {
            background-image: url('./../images/arr-white.png');
        }
    }
}