.menu {
    text-transform: uppercase;
    font-family: 'MyriadproRegular', sans-serif;
    letter-spacing: 0.32px;

    &__link {
        color: white;
        text-decoration-line: none;
    }

    &__list {
        display: flex;
        gap: 26px;
    }
}