.social {
    &__list {
        display: flex;
        column-gap: 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        background-color: white;
        border-radius: 50%;

        &--ft {
            background-color: transparent;
        }
    }

    &__icon {

        &1 {
            width: 12px;
            height: 24px;
        }
        &2 {
            width: 20px;
            height: 26px;
        }
        &3 {
            width: 26px;
            height: 26px;
        }
    }
    
}