
.title {
    font-family: 'MuliExtraBold';
    font-size: 3.125rem;
    letter-spacing: -1px;
    color: #f7ae3b;
    
    &--orange-up {
        text-transform: uppercase;
        color: #f2612d;
    }
}