/*   ---------------------------   ABOUT   ---------------------------   */
.about {
    background-color: #14826f;
    color: white;
    padding-top: 87px;

    &__inner {
        display: flex;
        position: relative;
    }

    &__column {
        flex: 0 1 50%;
    }

    &__image-wrapper {
        padding-right: 40px;
    }

    &__image {
        max-width: 691px;
        width: 100%;
        position: relative;
        top: -25px;
        left: 5%;
    }

    &__content {
        max-width: 620px;
        padding-left: 15px;
    }

    &__list {
        margin-bottom: 45px;
    }

    &__title {
        font-family: 'MuliExtraBold';
        font-size: 3.43rem;
        line-height: 1.09;
        letter-spacing: -1.1px;
        color: #ffffff;
        margin-bottom: 52px;
        
        &--light-green {
            color: #cae941;
            position: relative;
            white-space: nowrap;
        }

        &--light-green::after {
            content: "";
            background-image: url('./../images/about/smLine.png');
            display: block;
            width: 450px;
            height: 13px;
            left: -10px;
            position: absolute;
        }
    }

    &__item {
        list-style-position: inside;
        font-size: 1.31rem;
        line-height: 140%;
        text-align: left;
        position: relative;
        letter-spacing: 0.4px;
        padding-left: 38px;
        margin-bottom: 15px;

        &::before {
            content: '';
            background-image: url('./../images/about/about-li.png');
            position: absolute;
            width: 18px; height: 18px;
            background-size: 18px 18px;
            left: 0;
            top: 6px;
        }
    }

    &__button {
        font-size: 1.3rem;
        max-width: 380px;
        height: 60px;
        border-radius: 30px;
        border: solid 2px #f8b231;
        background-color: #14826f;
        padding: 0 38px 0 28px;
        margin: 0px 0px 220px 0px;
    }
}