/*   ---------------------------   ABOUT   ---------------------------   */
.about {
    background-color: #14826f;
    color: white;
    padding: 0;

    &__inner {
        display: flex;
        position: relative;
        justify-content: center;
    }

    &__image-wrapper {
        max-width: 700px;
        width: 100%;
    }

    &__image {
        max-width: 691px;
        width: 100%;
        position: absolute;
        top: 64px;
        left: 43px;
    }

    &__content {
        max-width: 590px;
    }

    &__list {
        margin-bottom: 41px;
        padding-left: 16px;
    }

    &__title {
        font-family: 'MuliExtraBold';
        font-size: 3.43rem;
        line-height: 1.09;
        letter-spacing: -1.1px;
        color: #ffffff;
        margin-bottom: 46px;
        padding-top: 88px;

        &--light-green {
            color: #cae941;
            position: relative;
        }

        &--light-green::after {
            content: "";
            background-image: url('./../images/about/smLine.png');
            display: block;
            width: 450px;
            height: 13px;
            left: -10px;
            position: absolute;
        }
    }

    &__item {
        list-style-position: inside;
        font-size: 1.31rem;
        line-height: 2.10;
        text-align: left;
        position: relative;
        letter-spacing: 0.4px;
        left: 22px;

        &::before {
            content: '';
            background-image: url('./../images/about/about-li.png');
            position: absolute;
            width: 18px; height: 18px;
            background-size: 18px 18px;
            left: -36px;
            top: 12px;
        }
    }

    &__button {
        font-size: 1.3rem;
        max-width: 380px;
        height: 60px;
        border-radius: 30px;
        border: solid 2px #f8b231;
        background-color: #14826f;
        padding: 0 38px 0 28px;
        margin-bottom: 94px;
    }
}