/*   ---------------------------   BLOG   ---------------------------   */

.blog {
    padding: 89px 0 148px;

    &__inner {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__image {
        width: 100%;

        &-wrapper {
            max-width: 555px;
        }
    }

    &__article {
        max-width: 650px;
        padding: 123px 0 0 64px;
        position: relative;

        &::before {
            content: "";
            display: block;
            background-color: #f7ae3b;
            background-size: 530px 5px;
            border-radius: 0 6px 6px 0;
            width: 107%;
            height: 12px;
            position: absolute;
            top: 70px;
            left: 0px;
        }

        &-title {
            font-family: 'MuliExtraBold';
            font-size: 1.875rem;
            line-height: 1.33;
            letter-spacing: -0.6px;
            color: #f2612d;
            position: relative;
        }

        &-time {
            font-size: 1rem;
            line-height: 2.19;
            color: #1e1e1e;
            position: relative;
            left: 3px;
        }

        &-excerpt {
            max-width: 532px;
            padding: 26px 0 0 60px;
            font-size: 1.125rem;
            line-height: 1.95;
            color: #1e1e1e;
        }

        &-arr {
            width: 18px;
            height: 10px;
        }

        &-link {
            font-family: 'MuliExtraBold';
            color: black;
            position: relative;
            white-space: nowrap; 
            
            &::after {
                content: "";
                display: block;
                background-image: url('./../images/components/arrow/arrow-yellow.png');
                background-size: 18px 10px;
                width: 18px;
                height: 10px;
                position: absolute;
                top: 7px;
                right: -34px;
            }
        }
    }
}