/*   ---------------------------   BLOG   ---------------------------   */

.blog {
    padding: 0 30px;
}

.blog__inner {
    max-width: 1205px;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    margin: 0 auto;
}

.blog__content {
    display: flex;
}

.blog__title {
    margin: 89px 0 50px;
}
.blog__image-wrapper {
    flex-basis: 555px;

}
.blog__image {
    width: 100%;
}

.blog__article {
    flex-basis: 650px;
    padding: 123px 0 0 64px;
    position: relative;
}
.blog__article::before {
    content: "";
    display: block;
    background-color: #f7ae3b;
    background-size: 530px 5px;
    border-radius: 0 6px 6px 0;
    width: 100%;
    height: 12px;
    position: absolute;
    top: 70px;
    left: 0px;
}

.blog__article-title {
    font-family: 'MuliExtraBold';
    font-size: 1.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.6px;
    text-align: left;
    color: #f2612d;
    position: relative;
}

.blog__article-time {
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.blog__article-excerpt {
    max-width: 532px;
    padding: 26px 0 0 60px;
    font-size: 1.125rem;
    line-height: 1.95;
    text-align: left;
    color: #1e1e1e;
}

.blog__article-arr {
    width: 18px;
    height: 10px;
}

.blog__article-link {
    font-family: 'MuliExtraBold';
    color: black;
    position: relative;
}
.blog__article-link::after {
    content: "";
    display: block;
    background-image: url('./../images/arrow-png.png');
    background-size: 18px 10px;
    width: 18px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 107px;
}