/*   ---------------------------   FOOOTER   ---------------------------   */
/*   -------------   content   -------------   */
.footer {
    position: relative;

    &__content {
        background-color: #f6ab3b;
        padding: 74px 0 92px;

        &-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        }
    }

    &__title {
        font-family: 'MuliExtraBold';
        font-size: 1.625rem;
        letter-spacing: -0.52px;
        color: #ffffff;
        padding-bottom: 27px;
    }

    /*   -------------   logo   -------------   */

    &__logo {
        flex: 0 2 385px;
        padding-top: 58px;
    }

    /*   -------------   information   -------------   */
    &__information {
        flex: 0 0 195px;

        &-list {
            padding-left: 3px;
            font-family: 'MuliExtraBold';
            font-size: 1.125rem;
            letter-spacing: -0.6px;
            line-height: 196%; 
        }

        &-link {
            color: #6d450c;
        }
    }

    &__payment {
        flex: 0 0 285px;

        &-list {
            padding-top: 7px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            width: 240px;
            gap: 23px 18px;
        }

        &-item {
            &:nth-child(5) img {
                margin-left: 4px;
            }
            &:nth-child(8) img {
                margin-left: 3px;
                margin-top: -3px;
            }
        }

    }

    &__subscribe {
        flex: 0 1 495px;
    }

    & .social__link {
        background-color: transparent;
    }   

    &__form {
        padding-top: 2px;
    }

    &__social {
        padding-right: 2px;
    }

    &__bottom {
        text-align: center;
        padding: 24px 0;
        background-color: #6c2c1c;
    }

    &__copyright {
        font-size: 0.8125rem;
        letter-spacing: 0.26px;
        color: #af8a82;
    }

    .goTop {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: #f2662f;
        position: fixed;
        bottom: 44px;
        right: 101px;
        z-index: 100;

        &::before {
            content: '';
            background-image: url('./../images/footer/ft-arr-top.png');
            background-size: 13px 25px;
            width: 13px;
            height: 25px;
            position: absolute;
            bottom: 11px;
            right: 19px;
        }

        &::after {
            content: 'Go top';
            position: absolute;
            bottom: -18px;
            left: -61px;
            color: #fff;
        }
    }
}