/*   ---------------------------   HEADER   ---------------------------   */
.header {
    background: url('./../images/header/header-bg-img.png') center no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;

    &__top {
        padding: 89px 0 121px;
        position: relative;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger-btn {
        background-image: url('./../images/header/burger/burger.svg');
        background-size: cover;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 30px;
        right: 30px;
        display: none;
        z-index: 1000;

        &-close {
            background-image: url('./../images/header/burger/burger-close.svg');
            transition: 1s;
        }
    }





    &__menu {
        margin-top: -5px;
    }

    &__logo {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-52%);
    }

    &__right-block {
        display: flex;
        align-items: center;
    }

    &__button {
        width: 280px;
        padding: 0 40px;
        font-size: 1.5rem;
        height: 70px;
        border-radius: 35px;
        margin: 0 auto;
    }
}