/*   ---------------------------   INSTAGRAM   ---------------------------   */

.instagram {
    display: flex;
    flex-direction: column;

    &__top {
        margin: 0 auto;
        padding: 47px 0 45px;

        &-link {
            display: flex;
            align-items: center;
        }

        &-icon {
            display: flex;
            width: 26px;
            height: 26px;
            margin-right: 12px;
        }

        &-title {
            font-size: 1.5rem;
            text-align: left;
            color: #0aa566;
        }
    }

    &__content {
        margin-bottom: 11px;
        display: flex;
    }

    &__link {
        position: relative;
        width: 25%;
        overflow: hidden;
        
        &::before {
            content: "";
            background-image: url('./../images/instagram/icon/inst-wt-ic.png');
            background-size: cover;
            width: 7%;
            height: 7%;
            position: absolute;
            bottom: 4%;
            right: 8%;
            z-index: 1;
        }

        &::after {
            content: "";
            background: linear-gradient(to top left, #00000042 10%, #00000005 30%, #ddd1ba00 70%);
            width: 50%;
            height: 50%;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }

    &__image {
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}