/*   ---------------------------   SMOOTHIES   ---------------------------   */

.smoothies {
    padding: 89px 30px 128px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 35px;
    }

    &__desc {
        max-width: 915px;
        margin-bottom: 52px;
        font-size: 1.125rem;
        line-height: 1.95;
        letter-spacing: normal;
        text-align: center;
        color: #1e1e1e;
    }

    &__greed {
        display: flex;
        flex-wrap: wrap;
        max-width: 1010px;
    }

    &__name {
        font-size: 1.56rem;
        letter-spacing: -0.5px;
        color: #f2612d;
    }

    &__box {
        padding: 24px 0 39px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        height: 185px;

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            border-right: 2px solid #f6edde;
            border-bottom: 2px solid #f6edde;
        }

        &:nth-child(4) {
            border-bottom: 2px solid #f6edde;
        }

        &:nth-child(5), &:nth-child(6), &:nth-child(7) {
            border-right: 2px solid #f6edde;
        }
    }


}

/* хз почему не ровняется по центру */
.smoothies__box:last-child .smoothies__name {
    text-align: center;
}

.smoothies__box:nth-child(1) .smoothies__icon {
    width: 70px;
}
.smoothies__box:nth-child(2) .smoothies__icon {
    width: 74px;
}
.smoothies__box:nth-child(3) .smoothies__icon {
    width: 71px;
}
.smoothies__box:nth-child(4) .smoothies__icon {
    width: 72px;
}
.smoothies__box:nth-child(5) .smoothies__icon {
    width: 65px;
}
.smoothies__box:nth-child(6) .smoothies__icon {
    width: 79px;
}
.smoothies__box:nth-child(7) .smoothies__icon {
    width: 72px;
}
.smoothies__box:nth-child(8) .smoothies__icon {
    width: 64px;
}
