/*   ---------------------------   STORY   ---------------------------   */

.story {
    padding: 0 30px;

    &__inner {
        margin: 0 auto;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        padding: 121px 0 160px;
        position: relative;
    }

    &__content {
        max-width: 515px;
    }

    &__title {
    margin: 127px 0 37px;
    }

    &__text {
        font-size: 1.125rem;
        line-height: 1.94;
        letter-spacing: normal;
        text-align: left;
        padding-bottom: 50px;
    }
    
    &__button {
        width: 300px;
        padding: 0 42px 0 27px;
    }

    &__image {
        width: 100%;

        &-wrapper {
            max-width: 585px;
            max-height: 601px;
            position: relative;
            margin-left: 30px;

            &::after {
                content: "";
                background-image: url('./../images/stStamp.png');
                display: block;
                width: 290px;
                height: 216px;
                position: absolute;
                top: 20px;
                left: -166px;
                opacity: 0.8;
            }
        }
    }
}