/*   ---------------------------   TESTIMONIALS   ---------------------------   */

.testimonials {
    background-color: #672f1b;
    position: relative;

    &__inner {
        max-width: 874px;
        display: flex;
        flex-direction: column;
        align-items:center;
        margin: 0 auto;

        &::before {
            content: "";
            background-image: url('./../images/tePsev.png');
            display: block;
            width: 410px;
            height: 301px;
            position: absolute;
            top: -81px;
            right: 58px;
        }
    }
    
    &__title {
        margin: 107px 0 119px;
    }

    &__content {
        display: flex;
        margin-bottom: 121px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 510px;
        padding-top: 56px;
        position: relative;

        &::before {
            content: "Sarah A";
            background-size: 764px 148px;
            width: 766px;
            height: 148px;
            position: absolute;
            top: -79px;
            left: -164px;
            font-family: 'MuliExtraBold';
            font-size: 12.5rem;
            letter-spacing: -4px;
            color: rgba(82, 25, 5, 0.6);
        }
    }

    &__img {
        width: 220px;
        height: 218px;
        z-index: 1;
        margin-left: 58px;
    }

    &__quote {
        width: 457px;
        font-size: 1.125rem;
        line-height: 1.9;
        text-align: center;
        color: #ffffff;
        z-index: 1;
    }

    &__address {
        font-family: 'MuliSemiBoldItalic';
        font-size: 1.06rem;
        color: #f7ae3b;
        text-align: left;
        padding: 19px 0 0 124px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        column-gap: 97px;
        margin-bottom: 81px;

        &-btn {
            width: 30px;
            height: 16px;
        }
    }

    &__button {
        background-image: url('./../images/arrow-png.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 30px;
        height: 16px;


        &--left {
            transform: rotate(180deg);
        }
    }


}