/*   ---------------------------   TESTIMONIALS   ---------------------------   */

.testimonials {
    padding: 107px 0 81px;
    background-color: #672f1b;
    position: relative;

    &::before {
        content: "";
        background-image: url('./../images/testimonials/pseudo.png');
        display: block;
        width: 410px;
        height: 301px;
        position: absolute;
        top: -83px;
        right: 58px;
    }

    &__inner {
        max-width: 736px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;

        &::after {
            content: "Sarah A";
            width: 766px;
            position: absolute;
            top: 100px;
            left: -164px;
            font-family: 'MuliExtraBold';
            font-size: 12.5rem;
            letter-spacing: -4px;
            color: rgba(82, 25, 5, 0.6);
        }
    }
    
    &__title {
        margin: 0 auto 118px;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 121px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 510px;
        padding-top: 56px;
    }

    &__img {
        width: 220px;
        height: 218px;
        z-index: 1;
    }

    &__quote {
        max-width: 457px;
        font-size: 1.125rem;
        line-height: 1.95;
        text-align: center;
        color: #ffffff;
        z-index: 1;
        margin-bottom: 16px;
    }

    &__address {
        font-family: 'MuliSemiBoldItalic';
        font-size: 1.06rem;
        color: #f7ae3b;
        text-align: center;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 160px;

        &-btn {
            width: 30px;
            height: 16px;
        }
    }

    &__button {
        background-image: url('./../images/components/arrow/arrow-yellow.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 30px;
        height: 16px;
        cursor: pointer;

        &--left {
            transform: rotate(180deg);
        }
    }


}